body{
  background-color: #AAAAAA;
}
td{
    width: 100px;
    height: 100px;
    font-size: 3em;
    text-align: center; 
    font-family: "Comic Sans MS", cursive, sans-serifc;
}
td:hover{
  opacity: 0.9;
  background-color: white;
}
.t{
    text-align: center;
    color:maroon;
}
.borders{
   margin-top: 5em;
}
.fullb{
    border: 3px solid black;
     }
.lrb{
    border-left: 3px solid black;
        border-right: 3px solid black;
        
}
.tbb{
    border-top: 3px solid black;
   border-bottom: 3px solid black;
        
}
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  .winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-message.show {
    display: flex;
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    background:linear-gradient(to right,rgb(124, 35, 35), rgb(34, 32, 32)) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button.hide{
    display: none;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button{
    margin: auto;
    margin-top: 50px;
    display: block;
  }